body {
  background-color: lightgrey;
}
 
h1 {
  color: white;
  text-align: center;
}

img {
	float: right;  	
  	text-align: center;
  	margin-top: 5px;
  	width: 40%;
  	margin-right: 420px;
  	margin-top: 185px;
}

table {
	margin-top:-570px;
}

/*Boksen som teksten står på (overskriften*/
#header {
 	height: 40px;
  	background-color: grey;
  	border-radius: 10px 10px 10px 0px; 
  	margin-top: -7px;
  	/*margin-left: 200px;*/
}

/*Teksen som står i header*/
#header p {
	margin-left: 40%;
  	padding-top: 12px;
  	font-family: Arial, 'Lucida Sans Unicode';
  	font-size: 20px;
}

/*Boksen som er bak menybaren*/
#leftmenybox {
 	background-color: grey;
  	height: 590px;
  	width: 200px;
  	border-radius: 0px 0px 0px 0px; 
  	margin-top: -15px;
}

/*Selve teksten i menybaren*/
#leftmenybox li {
  	font-size: 17px; 
  	margin-left: -15px; 
  	margin-top: -10px;
  	font-weight: bold;
}

#leftmenybox a: first-child {
	padding: 50px;
}

#rightmenybox {
 	background-color: grey;
  	margin-left:1132px;
  	height: 590px;
  	width: 200px;
  	margin-top: -590px;
}

#rightmenybox li {
	
}
  	font-size: 17px; 
  	margin-left: -15px; 
  	margin-top: -10px;
  	font-weight: bold;

a {
  	text-decoration: none; 
	
}

.mainfooter {
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: grey;
	margin: 2% 0;
  	margin-top: 4px;
}

.mainfooter p {
	width: 92%;
	margin: 10px auto;
	color: #FFF; 
  	padding-top: 12px;
}

