h1 {
		color: black;
		font-family: Verdana;
}

a {
		
		font-family: Verdana;
		margin-top: 300px;
		/*text-decoration: none;*/
		color: black;
		font-style: italic
		
}

body {
		background: grey;
}

#menybar {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 180px;
	
	background-color: #3c4543;
	float: left;
}


		


