h1 {
		color: black;
		font-family: Verdana;
}

a {
		
		font-family: Verdana;
		margin-top: 300px;
		color: black;
		font-style: italic;
		/*text-decoration: none;*/
		
}

body	{
		background: white;
}

#menybar	{
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		height: 180px;
		background-color: grey;
		float: left;
		
}

#left	{
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		height: 1100px;
		background-color: litegrey;
		float: left;
		
}

		

 




		


