body {
	background-color: grey;
}

#gmail {
	color:DarkSlateGray;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	color: grey
}

/*img {
	height: 170px;
	width: 170px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;

}*/

#navbar {
	/*Test ut litt*/
	left: 55%;
	margin-left: -254px;
	position: fixed;
	margin-top: 15px;
	
}

#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
	
}

ul{
	list-style-type: none;
	position: relative;
	margin: -10px;
}

.vannrett li {
	/*Test ut litt*/
	
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #cc0323;
	display: inline;
	
}

#left{
	/*test ut litt*/
	float: left;
	width: 45%;
	
	
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

#right{
	/*test ut litt*/
	float: right;
	width: 45%;
	
}

table {
	border: #000000 1px solid;
	background-color: lightgrey;
	float: right;
	margin-right: 10px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

td {
	height: 85px;
	width: 85px;
	
}

td img {
	/*height: 75px;*/
	width: 150px;
	box-shadow: none;
	
}

th {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: black;
	
}

#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}

#kontakt_mail{
	/*Det nederste grå partiet*/
	
	position: relative;
	bottom: -300px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 60px;
	background-color: #3c4543;
	clear: both;
	
}

#kontakt_mail_2{
	/*Send meg en EPOST*/
	border: 3px solid #000000;
	float: left;
	position: relative;
	left: 229px;
	bottom: -12px;
	border-radius: 10px;
	background-color: #cc0323;
	height: 30px;
	width: 150px;
	
}

#ommeg_mail{
	/*Det nederste grå partiet*/
	
	position: relative;
	bottom: -15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 60px;
	background-color: #3c4543;
	clear: both;
	
}

#ommeg_mail_2{
	/*Send meg en EPOST*/
	border: 3px solid #000000;
	float: left;
	position: relative;
	left: 229px;
	bottom: -12px;
	border-radius: 10px;
	background-color: #cc0323;
	height: 30px;
	width: 150px;
	
}

#hjem_mail{
	/*Det nederste grå partiet*/
	
	position: relative;
	bottom: -15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 60px;
	background-color: #3c4543;
	clear: both;
	
}

#hjem_mail_2{
	/*Send meg en EPOST*/
	border: 3px solid #000000;
	float: left;
	position: relative;
	left: 229px;
	bottom: -12px;
	border-radius: 10px;
	background-color: #cc0323;
	height: 30px;
	width: 150px;
	
}

#mail_2 p{
	position: relative;
	bottom: 8px;
	font-size: 0.8em;
	color: #acd1b2;
	text-align: center;
	
}


a {
	text-decoration: none;

}