body 	{
		background-image:url('http://wallpaper4me.com/images/wallpapers/yellingzombie-331288.jpeg');
		
		
}

#menybar	{
		height: 50px; 
		margin-top: 20px;
		font-size: 20px;
		font-family: Comic Sans MS;
		text-decoration: none;
		
}

.text	{
		color: red;
		font-family: Comic Sans MS;
}