body 	{
		background-image:url('http://1.bp.blogspot.com/-qPPLca6QsYQ/UPE2bRIt5BI/AAAAAAAACCY/CswQS93jHSI/s1600/Horror%2BGhost.jpeg');
		color: white;
		
}

#menybar	{
		height: 50px; 
		margin-top: 20px;
		font-size: 20px;
		font-family: Comic Sans MS;
		text-decoration: none;
		
		
}

.text	{
		
		font-family: Comic Sans MS;
}

h1	{
		color: grey;
}