body 	{
		background-image:url('http://3.bp.blogspot.com/_-xMhVmY1fo0/TRu7m3uN28I/AAAAAAAAAP0/P1OMD3urAKY/s1600/1260125831597.jpg');
		color: white;
		
}

#menybar	{
		height: 50px; 
		margin-top: 20px;
		font-size: 20px;
		font-family: Comic Sans MS;
		text-decoration: none;
		
}

.text	{
		color: litegrey;
		font-family: Comic Sans MS;
}